@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
/*@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}*/
/* Arrows */
.slick-prev,
.slick-next
{
   /* z-index: 99;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 48%;*/
    /*display: block;*/
/*    width: 38px;
    height: 38px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    background: url(../images/arrow-slider.svg)no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    transition: 0.3s all;*/

    display: none !important;
}
.slick-prev:before,
.slick-next:before
{
    display: none;
}
.slick-prev:before {
    transform: rotate(270deg);
    left: 7px;
}

.slick-prev
{
    left: 25px;
    -webkit-transform: translate(0, -50%)rotate(180deg);
    -ms-transform: translate(0, -50%)rotate(180deg);
    transform: translate(0, -50%)rotate(180deg);
}
[dir='rtl'] .slick-prev
{
    right: 0px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 200px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .slick-dots {
        bottom: 230px;
    }
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    /*background: transparent;*/
    background: letter-spacing: 1.26px;
    background: rgba(237, 220, 152, 0.53);
    border-radius: 50%;
    border: 1px solid #fff;
}
.slick-dots li.slick-active button {
    background: rgba(244, 208, 63, 0.63);
    border: 1px solid #2F6A78;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.multiple-items .slick-prev:hover,
.multiple-items .slick-next:hover {
    background: url(../images/arrow-slider-hover.png)no-repeat;
}
.single-item .slick-prev, .single-item .slick-next
{
    top: 50%;
    right: 24px;
    width: 20px;
    height: 33px;
    background: url(../images/single-slider-arrow.png)no-repeat;
    transition: 0.3s all;
}
.single-item .slick-prev {
    left: 24px;
}
.single-item .slick-prev:hover,
.single-item .slick-next:hover {
    background: url(../images/single-slider-arrow-hover.png)no-repeat;
}
/*---------RESPONSIVE-----------*/
@media only screen and (max-width: 1199px) {
    .slick-next {
        right: -30px;
    }
    .slick-prev {
        left: -30px;
    }
}
@media only screen and (max-width: 767px) {
    .slick-prev, .slick-next {
        right: 40%;
        top: 115%;
    }
    .slick-prev {
       left: 40%;
    }
}
@media only screen and (max-width: 475px) {
    .slick-prev, .slick-next {
        right: 35%;
    }
    .slick-prev {
       left: 35%;
    }
}
@media only screen and (max-width: 400px) {
    .slick-prev, .slick-next {
        right: 32%;
    }
    .slick-prev {
       left: 32%;
    }
}